**/*.map
**/*.ts
gulpfile.js
pnpm-lock.yaml
rollup.conf.mjs
src/**
tsconfig.json
.babelrc.js
.browserslistrc
.editorconfig
.eslintignore
.eslintrc.js
.github/**
.gitignore
.husky/**
.npmrc
.vscode/**
