html,
body {
  margin: 0;
  padding: 0;
}

.button-panel {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #fff8;
  border-radius: 4px;
}

.mm-toolbar {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn-text {
  height: auto;
  padding-left: 4px;
  padding-right: 4px;
}
